{{#if posts}}
{{#each posts as |post|}}
{{> post-details}}
{{/each}}

{{else}}
  <div id="no-posts">
    <p>I'm sorry, there are no blog posts available yet! Please check back later for some awesome tech blog posts!</p>
  </div>
{{/if}}

<script src="./assets/js/post.js"></script>