<!-- CARD -->
<div class='card'>
  <div class='card-header'>
    <h2>Login</h2>
  </div>
  <div class='card-content'>
    <div class='center'>
      Welcome back! Please login to your account.
    </div>
    <form class="login-form">
      <label for='email'>Email:</label><br />
      <input type='text' id='email' />
      <label for='password'>Password:</label><br />
      <input type='password' id='password' />
      <button type='submit' class='card-button'>Login</button>
    </form>
    <div class='center'>
      Don't already have an account?&nbsp;<a href='/signup'>Sign up</a>
    </div>
  </div>
</div>

<script src="./assets/js/login.js"></script>