<!-- CARD -->
<div class='card'>
  <div class='card-header'>
    <h2>Signup</h2>
  </div>
  <div class='card-content'>
    <div class='center'>
      Create an account to post comments on our blog posts!
    </div>
    <form class="signup-form">
      <label for='name'>Name:</label><br />
      <input type='text' id='name' />
      <label for='email'>Email:</label><br />
      <input type='text' id='email' />
      <label for='password'>Password:</label><br />
      <input type='password' id='password' />
      <button type='submit' class='card-button'>Create an account</button>
    </form>
    <div class='center pb'>
      Already have an account?&nbsp;<a href='/login'>Log in</a>
    </div>
    <div class='center'>
      By creating an account you agree to our&nbsp;
      <a href='#'>Terms & Privacy</a>.
    </div>
  </div>
</div>

<script src="./assets/js/signup.js"></script>